@media screen and (max-width:480px){
	
	#main{
		height:200px;
		width:200px;
		
	}
	
	#slider{
		display:none;
	}
	
	nav ul{
		margin-left:-10px;
		float:right;
		position:relative;

		top:30px;
	}

	nav{
	
		height:70px;
		width:830px;
		position:relative;
		bottom:100px;
		right:0px;
		-webkit-box-shadow:0px 0px 10px #999;
		-moz-box-shadow:0px 0px 10px #999;
		padding:10px;
	}
	nav ul li{
	
		margin-left:10px;
		font-family:"Museo";
	}
	
}