<header>


<nav id="admin-nav">
  <h1 id="site-title">PsycheCMS</h1>
  <ul>
    <li><%= link_to "Dashboard", :controller=>"admin", :action=>"dashboard" %></li>
    <li>|</li>
    <li><%= link_to "Add a Page",:controller=>"admin", :action=>"addpage" %></li>
 
  </ul>


</nav>

</header>