


<section id="share">
	<div style="border:solid;border-width:1px;border-color:#dfdfdf"></div>
<br/>
<br/>
		<div class="addthis_toolbox addthis_default_style ">
		<a class="addthis_button_google_plusone"></a>
		<a class="addthis_counter addthis_pill_style"></a>
		</div>
		
		<br/>
		<br/>
		<div style="border:solid;border-width:1px;border-color:#dfdfdf"></div>

</section>

