<header>
  <section id="header-content">
      <h1 id="site-title">TheUserAgent</h1>


      <nav>
        <ul>
			 <li>
	            <a href="/">Home</a>

	          </li>
	          <li>/</li>
          <li>
            <a href="/about">About</a>
           
          </li>
          <li>/</li>
          <li>
            <a href="/work">Work</a>
          </li>
          
        </ul>
      </nav>
  </section>
</header>
<div id="header-bottom-border"></div>