
<% if @title == "About"%>

<style type="text/css">
	#about{
			background-color: #333;
		color:#eee;
		padding-top:60px;
        padding-left:5px;
	    padding-right:5px;
       padding-bottom:10px;
	}
</style>

<% end %>

<% if @title == "Work" %>

<style type="text/css">
	#work{
		background-color: #333;
		color:#eee;
		padding-top:60px;
        padding-left:5px;
	    padding-right:5px;
       padding-bottom:10px;
	}
</style>


<% end %>

<header>
  <h1 id="site-title">TheUserAgent</h1>

  <nav>
    <ul>
      <li><h4><a id="about" class="menu-link" href="/about">About</a></h4> </li>
      <li><h4><a id="work" class="menu-link" href="/work">Work</a></h4></li>
         <li><h4><a class="menu-link" href="#" id="Contact-button">Contact</a></h4></li>
    
      
    </ul>

  </nav>

</header>
