<!DOCTYPE html>


<html>

<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>


<body>
<h1><%= @sender %> has sent the following:</h1>

<p><%= @message %></p>


<a href="mailto:<%= @email %>">write back</a>



</body>

</html>
