<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8/>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

<!--css-->
<%= stylesheet_link_tag "system/system" %>

</head>
<body>
  <%= yield %>
</body>

</html>