<header>

  <h1 id="site-title">PsycheCMS</h1>

  <nav>
    <ul id="system-nav">
      <li><span class="dropdown-indicator"></span><button onclick="openMain()"/></li>
      <li><a href="/admin/index">Dashboard</a></li>
      <li><a href="/admin/addPost">Post</a></li>
      <li><a href="/">Site</a></li>
    </ul>
  </nav>

</header>