
<%= stylesheet_link_tag "system/dashboard" %>

<div id="main">

<%= render "header" %>

  <section id="page-content">


    <section id="intro">
    <h1>Hello <%= get_user %>!</h1>
  </section>




  </section><!--end page content-->


</div>





