<!DOCTYPE html>
<meta charset=utf-8/>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

</head>
<body>



<div id="main">




<%= render_content(@post.content) %>

  <h1>blah</h1>
</div>






</body>

</html>